body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: var(--background);
}

body::before{
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: calc(var(--sidebar-width) + 40px);
    height: 100vh;
    background-color: var(--surface-darker);
    z-index: -1;
}

:root {
    /* Cores principais */
    --primary: #3B82F6;
    --primary-hover: #2563EB;

    /* Backgrounds */
    --background: #F3F4F6;
    --surface: #FFFFFF;
    --surface-light: #F9FAFB;
    --surface-darker: #111827;

    /* Bordas */
    --border: #334155;

    /* Textos */
    --text: #E2E8F0;
    --muted: #94A3B8;

    /* Status */
    --success: #22C55E;
    --success-rgb: 34 197 94;

    --warning: #F59E0B;
    --warning-rgb: 245 158 11;

    --danger: #EF4444;
    --danger-rgb: 239 68 68;
    --danger-hover: #b93636;

    --blue: #3B82F6;
    --blue-rgb: 59 130 246;
    --blue2:#2000d4 ;
    --blue2-rgb: rgb(32, 0, 212);

    --purpple: #8B5CF6;
    --purpple-rgb: 139 92 246;

    /* Sombras */
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

    /* Espaçamentos */
    --radius: 12px;
    --radius-sm: 8px;

    /* Header */
    --header-height: 80px;

    /* Sidebar */
    --sidebar-width: 200px;

    /* Transições */
    --transition: .3s ease-in-out;
}

.layout{
    display: flex;
}

/* HEADER */

#header{
    display: flex;
    align-items: center;

    height: var(--header-height);

    padding: 0;

    background-color: var(--surface);
}

.header-left{
    width: var(--sidebar-width);
    padding: 20px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface-darker);
}

#logo{
    width: auto;
    height: 55px;
}

.header-center{
    flex: 1;
    display: flex;
    justify-content: left;
    padding-left: 24px;
}
.header-center input{
    width: 40%;
    height: 40px;
    max-width: 500px;
    padding: 0 16px;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    background-color: var(--surface);
    color: var(--surface-darker);
    outline: none;
}

.header-center input:focus{
    border-color: var(--primary);
}

.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.notification-btn{
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--surface-darker);
    transition: var(--transition);
}

.notification-btn:hover{
    color: var(--primary);
}

.profile-menu{
    position: relative;
}

.profile-btn{
    display: flex;
    align-items: center;
    gap: 10px;

    border: none;
    background: none;
    cursor: pointer;
    color: var(--surface-darker);
}

.profile-btn img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.dropdown{
    position: absolute;
    top: 110%;
    right: 0;

    background: var(--surface);
    min-width: 180px;
    border-radius: 8px;
    display: none;
    flex-direction: column;
}

.dropdown a{
    padding: 10px 15px;
    color: var(--text);
    text-decoration: none;
    transition: background-color var(--transition);
    color: var(--surface-darker);
}
.dropdown a:hover{
    background-color: var(--primary);
}

.dropdown.active {
    display: flex;
    flex-direction: column;
}

/* SIDEBAR */

aside{
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    background-color: var(--surface-darker);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

aside a{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 20px;
    color: var(--text);
    text-decoration: none;
    border-radius: var(--radius-sm);
    transition: background-color var(--transition);
    color: var(--text);
}
aside a:hover{
    background-color: var(--primary);
    color: var(--text);
}

/* MAIN CONTENT */

.dashboard,
.materiaslayout{
    margin-left: calc(var(--sidebar-width) + 40px);
    width: calc(100% - var(--sidebar-width) - 40px);
    display: flex;
    flex-direction: column;
        gap: 20px;
    padding: 24px;
}

/* DASHBOARD */

.hello{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hello strong{
    color: var(--blue2);
}

/* PRIMEIRA LINHA CARDS */

.painel{
    background-color: var(--surface);
    border-radius: var(--radius);
    padding: 20px;
    box-shadow: var(--shadow);
}

.top-cards{
    display: flex;
    gap: 20px;
}

.card{
    flex: 1;
    min-height: 110px;
    background-color: var(--surface);
    border-radius: var(--radius);
    padding: 20px;
    box-shadow: var(--shadow);
}

.card p{
    font-size: 2rem;
    font-weight: 700;
    margin: 16px 0 12px;
    color: var(--surface-darker);
}

.progressbar{
    width: 100%;
    height: 10px;
    background-color: var(--surface-light);
    border-radius: var(--radius-sm);
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid var(--success);
}

.progressbar div{
    height: 100%;
    background-color: var(--success);
    border-radius: var(--radius-sm);
    width: 73%;
}

.cont{
    display: flex;
    align-items: center;
    gap: 15px;
}

#media{
    background-color: rgba(var(--success-rgb) / 10%);
    border: 1px solid var(--success);
}

#materia{
    background-color: rgba(var(--blue-rgb) / 10%);
    border: 1px solid var(--blue);
}

#atividades{
    background-color: rgba(var(--purpple-rgb) / 10%);
    border: 1px solid var(--purpple);
}

#pendencias{
    background-color: rgba(var(--warning-rgb) / 10%);
    border: 1px solid var(--warning);
}

/* SEGUNDA LINHA CARDS */

.middle-section{
    display: flex;
    gap: 20px;
}

.performance-card{
    flex: 1;
    min-height: 250px;
}

.status-card{
    flex: 1;
    min-height: 250px;
}

.materias{
    display: grid;
    grid-template-columns: 120px 70px 1fr 50px;
    align-items: center;
    gap: 15px;
}

.progressbar2{
    width: 90%;
    height: 8px;
    background-color: var(--surface-light);
    border-radius: var(--radius-sm);
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid var(--border);
}

.matematicapg{
    height: 100%;
    background-color: var(--success);
    border-radius: var(--radius-sm);
    width: 85%;
}

.fisicapg{
    height: 100%;
    background-color: var(--danger);
    border-radius: var(--radius-sm);
    width: 55%;
}

.historiapg{
    height: 100%;
    background-color: var(--success);
    border-radius: var(--radius-sm);
    width: 88%;
}

.redacaopg{
    height: 100%;
    background-color: var(--danger);
    border-radius: var(--radius-sm);
    width: 25%;
}

.biologiapg{
    height: 100%;
    background-color: var(--warning);
    border-radius: var(--radius-sm);
    width: 65%;
}

.line{
    width: 100%;
    height: 1px;
    background-color: var(--border);
    opacity: 0.5;
}

#link{
    color: var(--primary);
    text-decoration: none;
    transition: var(--transition);
    margin: 5px;
    padding: 5px;
}
#link:hover{
    background-color: var(--primary);
    color: var(--text);
    margin: 5px;
    padding: 5px;
    border-radius: var(--radius-sm);
}

.graficcontainer{
    display: flex;
    align-items: center;
    gap: 20px;
}

.chart-legend{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.legend-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.legend-color{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    flex-shrink: 0;
}

.approved{
    background-color: var(--success);
}

.recovery{
    background-color: var(--warning);
}

.failed{
    background-color: var(--danger);
}

/* TERCEIRA LINHA CARDS */

.activities-card{
    flex: 1;
    min-height: 140px;

}

.activity-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.activity-item{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}

.date{
    width: 25px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(var(--warning-rgb) / 60%);
    border: 2px solid var(--warning);
    padding: 5px 10px;
    border-radius: var(--radius-sm);
}

.date p,
.date strong{
    color: var(--warning);
    margin: 0;
}

.date p{
    font-size: 1.0rem;
    font-weight: 700;
    line-height: 1;
}

.date strong{
    font-size: 1.0rem;
    font-weight: 700;
    line-height: 1;
}

.aval p{
    font-size: .8rem;
    font-weight: 500;
    color: var(--surface-darker);
    margin: 0;
}

.aval h4{
    font-size: 1.0rem;
    font-weight: 700;
    color: var(--surface-darker);
    margin: 0;
}

.activities-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MATERIAS */

.hello button{
    width: 150px;
    min-height: 45px;
    background-color: var(--primary);
    border: none;
    border-radius: var(--radius-sm);
    color: var(--text);
    cursor: pointer;
    transition: var(--transition);
}

.hello button:hover{
    background-color: var(--primary-hover);
    box-shadow: var(--shadow);
}

.modal-overlay{
    display: none;

    position: fixed;
    inset: 0;

    background: rgba(0,0,0,.5);

    justify-content: center;
    align-items: center;

    z-index: 999;
}

.modal-overlay.active{
    display: flex;
}

.modal{
    width: 450px;
    background: white;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label{
    font-size: .8rem;
}

.modal h2{
    font-size: 1.0rem;
}

.modal input{
    width: 100%;
    height: 40px;
    border-radius: var(--radius-sm);
    margin: 0;
    border: 1px solid var(--muted);
}

select{
    width: 100%;
    height: 40px;
    border-radius: var(--radius-sm);
    margin: 0;
    border: 1px solid var(--muted);
}

.modal div{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}


.modal div button{
    width: 50%;
    min-height: 30px;
}

#cancelar{
    background-color: white;
    border: 1px solid var(--muted);
    color: var(--surface-darker);
}

#listaMaterias{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.materia-row{
    display:grid;

    grid-template-columns:
        2fr
        1fr
        1fr
        2fr
        1fr;

    align-items:center;

    padding:18px;

    background:var(--surface);

    border-radius:var(--radius);

    box-shadow:var(--shadow);
}

.materia-nome{
    display:flex;
    align-items:center;
    gap:12px;
}

.materia-cor{
    width:18px;
    height:18px;
    border-radius:50%;
}

.progress-container{
    width:90%;
    height:10px;

    background:#e5e7eb;

    border-radius:999px;

    overflow:hidden;
}

.progress-fill{
    height:100%;

    background:var(--primary);

    border-radius:999px;
}

.status{
    background:#dcfce7;

    color:#166534;

    padding:6px 12px;

    border-radius:999px;

    font-size:14px;
}

.btn-edit,
.btn-delete{
    border:none;

    padding:8px 12px;

    border-radius:8px;

    cursor:pointer;
}

.btn-edit{
    background:var(--primary);
    color:white;
}

.btn-delete{
    background:var(--danger);
    color:white;
}